importFrom('graphics', 'abline', 'legend', 'lines', 'par', 'plot',
	'points', 'polygon', 'rug', 'text')
importFrom('stats', 'AIC', 'as.dist', 'as.formula', 'coef',
	'coefficients', 'median', 'na.omit', 'predict', 'quantile',
             'runif', 'sd', 'terms')
importFrom('utils', 'flush.console', 'setTxtProgressBar',
	'txtProgressBar', 'write.csv')
export(Fpb)
export(aucWeighted)
export(compareNiches)
export(compareResponse)
export(contBoyce)
export(contBoyce2x)
export(convertTropicosCoords)
export(coordPrecision)
export(dmsToDecimal)
export(elimCellDups)
export(geoFold)
export(geoThin)
export(geoThinApprox)
export(getCRS)
export(longLatRasters)
export(makeLarsData)
export(mop)
export(pointDist)
export(predictLars)
export(predictMaxEnt)
export(sampleRast)
export(sampleRastStrat)
export(trainBrt)
export(trainCrf)
export(trainGam)
export(trainGlm)
export(trainLars)
export(trainMaxEnt)
export(trainMaxNet)
export(trainNs)
export(trainRf)
export(xToCoords)
